body {
  margin: 0;
}

.album-container {
  background-color: rgba(0, 23, 17, 1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: start;
  padding: 45px 70px 180px;
}

.album-wrapper {
  width: 100%;
  max-width: 1087px;
}

.album-content {
  gap: 20px;
  display: flex;
}

.album-left-section {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
}

.album-nav {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
}

.back-button {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--Layers-Green, #75ffdc);
  font: 510 18px/41px SF Pro, sans-serif;
}

.back-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  align-self: stretch;
  margin: auto 0;
}

.album-cover {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
  align-self: stretch;
  margin-top: 40px;
}

.artist-info {
  display: flex;
  margin-left: 24px;
  align-items: center;
  gap: 8px;
  font-family: Inter, sans-serif;
  color: var(--Base-Grey, #f8fcfa);
}

.artist-avatar {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 80px;
  border-radius: 50%;
  align-self: stretch;
  margin: auto 0;
}

.artist-details {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  flex-direction: column;
  width: 320px;
  margin: auto 0;
}

.artist-label {
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
}

.artist-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  margin-top: 8px;
}

.album-right-section {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}

.album-details {
  display: flex;
  margin-top: 81px;
  flex-grow: 1;
  flex-direction: column;
}

.album-title {
  color: var(--Dark-Grey, #e0efea);
  font: 700 34px/1 SF Pro, sans-serif;
}

.track-list {
  display: flex;
  margin-top: 32px;
  width: 100%;
  flex-direction: column;
  color: var(--Base-Grey, #f8fcfa);
  font: 500 24px/1.3 Inter, sans-serif;
}

.track-item {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 12px;
  margin-top: 24px;
}

.track-item:first-child {
  margin-top: 0;
}

.track-number {
  opacity: 0.5;
  align-self: stretch;
  width: 42px;
  margin: auto 0;
}

.track-name {
  align-self: stretch;
  width: 341px;
  margin: auto 0;
}

.track-duration {
  text-align: right;
  font-size: 18px;
  line-height: 31px;
  opacity: 0.5;
  align-self: stretch;
  width: 56px;
  margin: auto 0;
}

@media (max-width: 991px) {
  .album-container {
    padding: 0 20px 100px;
  }

  .album-wrapper {
    max-width: 100%;
  }

  .album-content {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .album-left-section,
  .album-right-section {
    width: 100%;
    margin-left: 0;
  }

  .album-nav {
    max-width: 100%;
    margin-top: 40px;
  }

  .album-cover {
    max-width: 100%;
  }

  .artist-info {
    margin-left: 10px;
  }

  .album-details {
    max-width: 100%;
    margin-top: 40px;
  }

  .album-title {
    max-width: 100%;
  }

  .track-list {
    max-width: 100%;
  }
}
