body {
  margin: 0;
}

.artist-section {
  background-color: rgba(0, 23, 17, 1);
  color: #e0efea;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 80px 365px;
  font-family: SF Pro, sans-serif;
}

.artist-container {
  display: flex;
  width: 100%;
  max-width: 1220px;
  flex-direction: column;
}

.header-wrapper {
  display: flex;
  gap: 40px 100px;
  font-weight: 700;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.artist-name {
  font-size: 34px;
  line-height: 1;
}

.back-link {
  color: #e0efea;
  font-size: 18px;
  line-height: 41px;
  cursor: pointer;
}

.content-wrapper {
  align-self: end;
  margin-top: 39px;
  width: 100%;
  max-width: 1162px;
}

.content-grid {
  gap: 20px;
  display: flex;
}

.profile-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 39%;
}

.profile-wrapper {
  display: flex;
  margin-top: 17px;
  flex-grow: 1;
  flex-direction: column;
}

.profile-image-container {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  aspect-ratio: 1;
  padding: 63px 77px 116px;
}

.profile-image {
  aspect-ratio: 0.98;
  object-fit: contain;
  object-position: center;
  width: 203px;
  margin-bottom: -23px;
}

.albums-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 61%;
  margin-left: 20px;
}

.albums-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.albums-title {
  margin-left: 52px;
}

.albums-grid {
  display: flex;
  margin-top: 27px;
  height: 353px;
  align-items: start;
  gap: 24px;
  justify-content: start;
  flex-wrap: wrap;
}

.album-item {
  display: flex;
  min-width: 240px;
  flex-direction: column;
  justify-content: start;
  flex-grow: 1;
  width: 230px;
}

.album-image {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 288px;
  margin-top: 24px;
  max-width: 100%;
}

.album-card {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  flex-direction: column;
  justify-content: start;
  flex-grow: 1;
  width: 230px;
  margin: auto 0;
}
.album-title {
  margin-left: 52px;
}

.album-image {
  position: relative;
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 288px;
  border-radius: 7.13px;
  border: 0.89px solid;
  border-color: #000000;
  max-width: 100%;
}

.rectangle {
  position: absolute;
  width: 160px;
  height: 46px;
  top: 170px;
  left: 74px;
  border-radius: 7.13px;
}

.overlap-group {
  position: absolute;
  width: 54px;
  height: 54px;
  top: 166px;
  left: 13px;
  border-radius: 27.2px;
  border: 0.89px solid;
  border-color: #000000;
}

.icon-photo {
  position: absolute;
  width: 171px;
  height: 148px;
  top: 11px;
  left: 34px;
}

.icon-person {
  position: absolute;
  width: 29px;
  height: 30px;
  top: 8px;
  left: 12px;
}

@media (max-width: 991px) {
  .artist-section {
    padding: 0 20px 100px;
  }

  .artist-container {
    max-width: 100%;
  }

  .header-wrapper {
    max-width: 100%;
  }

  .content-wrapper {
    max-width: 100%;
  }

  .content-grid {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .profile-column {
    width: 100%;
  }

  .profile-wrapper {
    margin-top: 40px;
  }

  .profile-image-container {
    padding: 0 20px 100px;
  }

  .profile-image {
    margin-bottom: 10px;
  }

  .profile-bar {
    margin: 40px 10px 0;
  }

  .albums-column {
    width: 100%;
  }

  .albums-wrapper {
    max-width: 100%;
    margin-top: 40px;
  }
}
